.row {
  display: flex;
  background: #fff;
}

.cell {
  width: 15px;
  height: 15px;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 100%
    );
}

.cell {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 100%
    );
}

.cell:hover {
  background-color: #eee;
}
.cell.live {
  background-color: #000;
}

.controls {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
